@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation.scss';
@import 'blocks/forms.scss';
@import 'blocks/carousel';
@import 'blocks/media';


* {
    font-family: 'Museo Sans', sans-serif;
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}

